.container {
  width: 100%;
}
.editor {
  margin-bottom: 20px;
}

.editor .form,
.modal .form {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  background: #f0f7f9;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.editor .title,
.modal .title {
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 174, 255);
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.editor .input,
.modal .input,
.editor .textarea,
.modal .textarea {
  width: 80%;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.editor .input:focus,
.modal .input:focus,
.editor .textarea:focus,
.modal .textarea:focus {
  box-shadow: 0px 0px 3px 1px rgb(0, 174, 255);
}

.editor .textarea,
.modal .textarea {
  resize: none;
}

.editor .submit,
.modal .submit {
  width: 250px;
  height: 35px;
  background-color: rgb(0, 174, 255);
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  margin: 0 auto;
  padding: 0;
  transition: background-color 0.2s linear;
}

.editor .submit:hover,
.modal .submit:hover {
  background-color: rgb(0, 110, 255);
}

.notes .list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.notes .item {
  position: relative;
  width: 300px;
  min-height: 250px;
  background: #f0f7f9;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.notes .title {
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 174, 255);
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.notes .content {
  text-align: justify;
  margin-bottom: 60px;
}

.notes .btnList {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 15px 10px;
  padding: 0;
}

.notes .btn {
  width: 35px;
  height: 35px;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.notes .btn svg {
  fill: rgb(0, 174, 255);
  transition: fill 0.2s linear;
}

.notes .btn svg:hover {
  fill: rgb(0, 110, 255);
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 110, 255, 0.2);
}
.modal .content {
  position: absolute;
  min-width: 400px;
  min-height: 200px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: none;
  background: #ffffff;
  padding: 0;
  border-radius: 10px;
}

.modal .form {
  max-width: 100%;
}

@media (max-width: 576px) {
  .editor .form,
  .modal .form {
    max-width: 90%;
    padding: 10px;
  }

  .editor .input,
  .modal .input,
  .editor .textarea,
  .modal .textarea {
    width: 95%;
    padding: 10px;
  }
  .editor .submit,
  .modal .submit {
    width: 80%;
  }
}
