.authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputField {
  display: flex;
  flex-direction: column;
}

.input {
  width: 350px;
  height: 50px;
  margin-right: 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(0, 174, 255);
  -webkit-appearance: none;
  outline: none;
  text-align: center;
  font-size: 18px;
}

.input:first-child {
  margin-bottom: 30px;
}

.input:hover,
.input:focus {
  box-shadow: 0 0 10px rgb(0, 110, 255);
}

.btn {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .authentication {
    flex: 0 0 100%;
  }

  .form {
    width: 100%;
  }

  .inputField {
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
  }

  .form {
    flex-direction: column;
  }

  .input {
    width: 90%;
    margin-right: 0px;
  }
}
